BasedOnStyle: LLVM
ColumnLimit: 80
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Linux
PointerAlignment: Right
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
IndentPPDirectives: AfterHash
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Empty
InsertNewlineAtEOF: true
LineEnding: CRLF
ReflowComments: false